[2018-12-23 16:31] jjl opened #1 "loaders not being respected"
Hi, I'm a brand new user, so I'm probably doing something wrong, but when trying to use purs-loader, I get errors about misunderstood syntax because my purescript hasn't gone through the loader.

Invocation: `./node_modules/mochapack/bin/mochapack --webpack-config webpack.config.test.js --webpack-env test`

However, running `webpack --config webpack.config.test.js --env test` completes fine, so it

[2018-12-23 18:03] vlasenko commented on #1
@jjl Yeah, okay. We need more details. It would be the best if we will be able to reproduce the issue ouselves. Can you set up a repo on GitHub that reproduces this issue and post url to it here?

[2019-01-03 12:21] MrHKang opened #2 "Compilation succeeds but test finish immediately"
I have the same issue with [Compilation succeeds but test finish immediately ](https://github.com/zinserjan/mocha-webpack/issues/278), can you provide a successful demo to show? thank you very much.

[2019-01-03 13:52] vlasenko commented on #2
@MrHKang Νο, it is not the way open source projects are done. It is your responsibility to provide demo and reproduction steps what is not working for you, not project maintainers.

[2019-01-03 13:53] vlasenko commented on #1
@jjl Closing, due to no response from issue opener

[2019-01-03 13:53] #1 closed

[2019-01-03 13:55] vlasenko commented on #2
Closing this issue because issue author did not provide reproduction steps

[2019-01-03 13:55] #2 closed

[2019-01-28 11:29] stevefan1999-personal opened #3 "Support mocha-parallel-tests"
If we are able to use https://github.com/mocha-parallel/mocha-parallel-tests, this could greatly benefit the test speed.

[2019-01-29 17:34] vlasenko commented on #3
This is doable, but it is certainly far from being easy, it is pretty hard. `mocha-parallel-tests` approach won't work here, because it doesn't deal with potentially slow webpack compilation process. The best way to implement it, IMHO, is to have one master process that runs webpack and many worker processes that will receive from master process compiled bundle, each time compilation happens. Work

[2019-01-30 23:35] alecf opened #4 "re-clone mocha-webpack repo?"
there is a lot of useful blame history that could be used from the `mocha-webpack` repo - is there a reason you dropped all the git history?

[2019-01-31 05:42] vlasenko commented on #4
@alecf No reason, I just cloned and commited. I can re-clone and push last commit with renamings, because to be able to publish package to npm it should have different name.

[2019-01-31 05:46] vlasenko commented on #4
@alecf Well, I don't know how to do it now. Do you have any hints?

[2019-02-02 18:04] akosipax commented on #4
Wouldn't forking a repository and renaming the repository do it?

[2019-02-09 05:41] papinto opened #5 "Add support for --inspect and --inspect-brk options"
Mocha supports the --inspect and --inspect-brk options:
--inspect          // activate devtools in chrome
--inspect-brk   // activate devtools in chrome and break on the first line

It would be helpful if mochapack can pass these options through to mocha.

[2019-02-09 07:28] vlasenko commented on #5
@papinto Yep, agreed. Good point!

[2019-02-22 12:09] yuanhao opened #6 "Multiple reporters support"
Is it possible to add the multiple reporters support in mochapack? Since mocha has supported it (https://github.com/mochajs/mocha/pull/1360).

Currently got the error "Error: Duplicating arguments for "--reporter" is not allowed. "--reporter spec --reporter xunit" was provided, but expected "--reporter spec"".

[2019-02-22 14:08] vlasenko commented on #6
@yuanhao Yep, I think this one is very straightforward enhancement

[2019-02-22 21:07] eponymous301 opened #7 "Update docs/dependencies to include mocha 6.0.0?"
I've tried mochapack with mocha 6.0.0 and it seems to work fine.

[2019-02-22 21:15] vlasenko commented on #7
@eponymous301 Thank you! Will do

[2019-02-25 07:48] vlasenko commented on #7
@eponymous301 Have you tried to clone this repo, update mocha to version 6 and run the tests? I see multiple failures. Some 3rd party deps used by `mochapack` have not been upgraded to mocha 6 yet, for example `bdd-lazy-var` supports mocha only up to `mocha 5.2.x`. So it is probably not a good time now to upgrade to mocha 6 yet...

[2019-02-26 11:30] vlasenko commented on #7
Resolved in #8

[2019-02-26 12:58] vlasenko commented on #6
@yuanhao Actually according to the link you have in your top post the mocha does not support multiple reporters. So I'm closing this issue. Lets revisit it when mocha will support multiple reporters

[2019-02-26 12:58] #6 closed

[2019-02-26 13:15] vlasenko commented on #7
Released in `mochapack@1.1.0`

[2019-02-26 13:15] #7 closed

[2019-02-27 18:40] alecf commented on #4
nice! I just saw the mocha 6 work, really looking forward to it!

here's what I've just done in an effort to get the git history plus the mocha 6 support:

1) forked the original mocha-webpack repo into my own, just using the github `fork` button: https://github.com/alecf/mochapack
2) applied all of @vlasenko 's changes to support mocha 6

What I'd like to suggest @vlasenko does: remove this repo,

[2019-02-27 20:06] vlasenko commented on #4
I'm not sure why to do it? I don't need previous history that much for development, only in very rare cases. And even if someone needs it, there is always the original repo:
https://github.com/zinserjan/mocha-webpack
I am afraid that the initial impression for the people if the repo is showing up as a fork is that the repo has only some minor bugfix and thats, as it is the case with 99% of the for

[2019-02-27 22:25] alecf commented on #4
as for any long running software project, the history is valuable in uncovering the reasoning behind implementation decisions, fixing regressions that may have plagued the code before, the ability to ask individuals questions who worked on issues in the code, etc.. basic software forensics. this is the whole reason for version control in the first place.

Throwing out the history just because you

[2019-02-28 03:18] vlasenko commented on #4
99% of the `mocha-webpack` was written by its original author and he is out of reach, so no way to know his reasoning other then looking into the code and original repository issues and PRs, and they are not copied when forking. So you will still need to go to original repository on GitHub and look.

I am not against moving the original history to this repo, just not the way you are proposing. The

[2019-02-28 13:19] akosipax commented on #4
Hey @vlasenko, I believe this set of git commands will work (thanks to @alecf for the repo and I didn't have to figure out how to apply the changes).

[code]

See the result in my own account: https://github.com/akosipax/mochapack

It has the commit history + no note about it on top being a fork. I do believe that git history is valuable. Having the git history will point us right away to the appr

[2019-03-01 08:40] vlasenko commented on #4
Thanks @alecf and @akosipax. The history from `mocha-webpack` repository has been transferred into this repo.

[2019-03-01 08:40] #4 closed

[2019-03-08 18:21] jamesopti opened #9 "Ability to use a mocharc config file."
Is there any support for using a mocharc file instead of mochapack.opts?

As of Mocha 6, [mocha.opts is considered legacy](https://mochajs.org/#mochaopts) and I find it easier to specify multiple configs in JSON instead of as command line arguments.

P.S. - Thanks for picking up support for this package!

[2019-03-08 18:23] jamesopti commented on #5
This is critical for our development flow, as it enables debugging any issues in the runtime.

Are there any plans to add this soon?

[2019-03-09 14:09] vlasenko commented on #5
I guess you are looking to get good debugging experience with this tool, not just pass `--inspect` to node. The latter is easy, just launch it as `node node_module/.bin/mochapack --inspect --inspect-brk ...`.

The former, i.e. getting good debugging experience is more tricky. The debugging support is there for quite a while and it is documented:
https://sysgears.github.io/mochapack/docs/guides/ide

[2019-04-01 13:52] andykais opened #11 "[Feature/help] running with child processes"
Hi, thank you for maintaining this fork! I have a project that creates child processes from other webpack entrypoints. Minimally reproducible example:

[code]
[code]
[code]
[code]
Running the tests with mochapack (or mocha-webpack) will fail because a fork (or any code that expects a physical file to work with from an entrypoint) cannot use the entrypoint.
[code]

What is the course of action here

[2019-04-01 13:58] andykais commented on #11
let me know if you prefer a repo to reproduce the problem, Im happy to make one!

[2019-04-01 14:11] vlasenko commented on #11
@andykais I'm not sure I understand. Would you be willing to chat in a gitter room about this issue?

[2019-04-01 14:11] vlasenko commented on #11
@andykais I have created gitter room for `mochapack` here:
https://gitter.im/sysgears/mochapack

[2019-04-01 15:17] vlasenko commented on #11
Thank you @andykais for raising this issue and having a chat about it. As per our chat conversation, it seems like a good idea to enable writing output to disk with some `mochapack` cli flag, so that we support both in-memory output mode and filesystem output mode. The relevant Pull Request for original `mocha-webpack` that can be of help to add back filesystem output support can be seen here:
htt

[2019-04-02 14:10] sebastienfilion opened #13 "[Feature] Implement the `require` interface"
Hey there @vlasenko first of all, thanks for this fork, works great.
Would you consider implementing the `require` interface? https://mochajs.org/#require
It seems like only `bdd`, `tdd`, `qunit` and `exports` were implemented.

[2019-04-03 03:25] vlasenko commented on #13
@sebastienfilion Have you tried to run it with `mochapack -u require ...` ?

[2019-04-04 16:23] sebastienfilion commented on #13
Yes I have and I get an error saying that `require` is not a module;
Is it an issue with my Webpack configuration?
I just never knew that feature to be an external module.

[code]

[2019-05-24 06:48] fgordillo opened #14 "Implement --forbid-only"
Mocha has an option --forbid-only:
`--forbid-only              Fail if exclusive test(s) encountered     [boolean]`

I tried to use it in mochapack by adding that flag to `mochapack.opts` but I guess it's not implemented yet. Is there any workaround for this?

[2019-06-06 09:54] nicojs opened #17 "Public developer api"
Hi 👋

Would it be possible to document the api so it is public for developers to use? Maybe even add a *.d.ts file while your at it? I could also do the work for you if you agree.

We of the StrykerMutator team want to support mochapack with mutation testing. For more info see http://stryker-mutator.io.

[2019-06-06 09:58] vlasenko commented on #17
Hi

Yep, it would be nice to have. One thing though - it uses now flow types, not TypeScript, but I'm all for switching to TypeScript in this project and documenting its API

Kind Regards
Victor

[2019-06-06 09:59] vlasenko commented on #17
Also it uses outdated `gitbook-cli`. It would be nice to switch to Gatsby IMHO

[2019-06-25 08:46] chuv opened #19 "Cyclic dependency error"
Hi.
Thanks for the fork of mocha-webpack. I'm trying to move my project from webpack 3 to 4 and all works fine except tests. I get this error:
[code]
I found similar issue in html-webpack-plugin https://github.com/jantimon/html-webpack-plugin/issues/981

[2019-06-28 07:53] vlasenko commented on #19
@chuv Why do you think it is related to `mochapack`?

[2019-07-01 11:13] chuv commented on #19
I think it is related to `toposort` and `mochapack` depends on `toposort`. I have no idea how to fix this error.

[2019-07-03 13:12] sn3p opened #20 "Add support for --file option"

[2019-07-15 13:22] dirkroorda opened #22 "Yargs dependency leads to vulnerable mem package"
The current `"yargs": "^11.0.0"` dependency has in turn a dependency on
`"os-locale": "^2.0.0",` which in turn is dependent on
`"mem": "^1.1.0"` which is vulnerable.

It seems that the only wayout is: bump the version of `"yargs"` to at least 12.0.0 but 13 is better.

Many thanks for adopting the stale mocha-webpack, by the way.

[2019-07-15 13:36] vlasenko commented on #22
@dirkroorda Yep, would you mind submitting PR?

[2019-07-15 13:38] vlasenko commented on #22
@dirkroorda If upgrading `yargs` will lead to issues, we can use `package.json -> resolutions` instead

[2019-07-16 08:11] dirkroorda commented on #22
Well, I barely am able to get webpack configured, I do not feel competent to dive into this.

[2019-07-16 08:12] vlasenko commented on #22
Okay, no worries :) I'll handle this

[2019-07-16 09:08] vlasenko commented on #22
@dirkroorda Done, published `mochapack@1.1.2`

[2019-07-16 09:09] #22 closed

[2019-07-30 17:55] Tech-Nomad commented on #19
Hmm, great. So actually no difference to the unmaintained mocha-webpack 😂

This error is caused by toposort. But as mochapack is using it, this becomes automatically an issue of mochapack. Isn't it logical?

[2019-07-30 19:19] vlasenko commented on #19
@Tech-Nomad Spreading toxic attitude is not welcome here.

[2019-07-30 19:42] Tech-Nomad commented on #19
@vlasenko
There is nothing toxic with my complain about the leck of support in this repo.

But the fact that you didn't response in any way for one month to the chuv's last comment but response immediately to my complain and in such a way tells a lot about about your attitude.

[2019-07-30 19:44] Tech-Nomad commented on #19
...therefor, yes, such an toxic attitude is in fact not welcomed HERE

[2019-08-02 10:45] vlasenko commented on #19
Hopefully should be fixed via:
https://github.com/sysgears/mochapack/commit/1944c97e99ae9752ddf21bc9fcc58c32148a4cd1
and published as `mochapack@1.1.3`

Hopefully, because the issue doesn't reproduce for me and I have no reproduction steps.

Feel free to reopen this ticket, but this time with reproduction steps please.

[2019-08-02 10:45] #19 closed

[2019-08-07 23:18] BobbieBarker opened #24 "[Bug]"
- [x] I'd be willing to submit the fix
maybe.
**Describe the bug**

A clear and concise description of what the bug is.
I attempt to run the test suit and I receive this error:
`Error: ENOENT: no such file or directory, chdir '.tmp/mochapack/1565219434941'`
**To Reproduce**
I just attempt to run this from the terminal
`"test": "mochapack --bail --timeout 8000 --exit --recursive --webpack-config we

[2019-08-08 08:41] vlasenko commented on #24
@BobbieBarker I was unable to reproduce this issue, while using your `webpack.config.js` in this project:
https://github.com/sysgears/mochapack/tree/master/examples/debug-webpack4
Please note that FULL reproduction example is needed. Obviously your info is incomplete in this regard.

[2019-08-20 13:18] vlasenko commented on #24
Closing this issue as the reproduction example is incomplete. Feel free to reopen it with full reproduction example.

[2019-08-20 13:18] #24 closed

[2019-08-30 16:42] karlwilbur opened #26 "[Feature] Don't clear the console"
- [x ] I'd be willing to implement this feature
- [ ] This feature can already be implemented through a plugin

**Describe the user story**

I am using my console. It has valuable historical information. Deleting my valuable information is not wanted. Don't clear the console.

**Describe the solution you'd like**

When I run `mochapack`, it doesn't clear the console. Rather it just runs in the exi

[2019-08-30 16:58] karlwilbur commented on #26
After reading through more of the code, it seems that this can me accomplished by setting `interactive` to `false`, that is:
[code]
This request can be closed. I am not closing it myself as there might be a better, more intuitive way to make this happen; perhaps, minimally, a blurb in the docs somewhere. I'll leave that up to the maintainers to determine. If you'd like my help with this, just say

[2019-08-31 09:43] vlasenko commented on #26
@karlwilbur I agree with you. I'm not sure whether adding this into the docs, would be of much help, but it certainly doesn't hurt. Perhaps we should turn on interactive mode only during watch and during normal test run it should be off by default. What do you think?

[2019-09-02 12:13] 4lph4-Ph4un opened #27 "[Bug] globby error during running on >=1.1.3"
- [ ] I'd be willing to submit the fix

**Describe the bug**

A version < 1.1.3 seems to run okay still, but after the mochapack dependency updates something seems to have broken. I get the following error when I attempt to run mochapack on >=1.1.3:

[code]

**To Reproduce**

run `mochapack --webpack-config webpack.config.test.js --require ./test/test_helper.js ./test/index.spec.js`. The files tha

[2019-09-02 12:34] 4lph4-Ph4un opened #28 "[Bug] Loaders not being respected"
- [ ] I'd be willing to submit the fix

**Describe the bug**

Loaders (babel and typescript) are not being respected. Although they correctly transpile during build and development. This is at least present on latest versions (tested from 1.1.2 - 1.1.4)

Here's the mumbojambo from terminal. Pretty much just errors caused by missed loaders:

[code]

**To Reproduce**

To run:

`mochapack --webpack-c

[2019-09-03 01:49] 4lph4-Ph4un commented on #27
This was solved by updating both node and npm-version as they were both pretty old.

[2019-09-03 01:49] #27 closed

[2019-09-03 08:12] vlasenko commented on #28
@4lph4-Ph4un The reproduction information is incomplete. It is best to create repo on GitHub or some other VCS where the issue can be reproduced.

The secod problem is with `webpack.config.test.js` code. The `config` object is being imported and mutated. I'm not sure if this problem can be the reason of this issue or not, but it very well might be the reason, so it should be fixed first.

[2019-09-03 09:25] 4lph4-Ph4un commented on #28
Unfortunately I cannot, but do instruct what information you need to make the reproduction complete. I'm glad to help.

Hmm.. that is strange. The same code originally worked with Webpack 3 and mocha-webpack. I am not aware that mutating webpack-config would be disallowed, only that webpack-merge is to be used when merging configuration options due to webpack's finicky way of handling nested prope

[2019-09-03 09:36] vlasenko commented on #28
@4lph4-Ph4un If you cannot create repo on GitHub that reproduces the issue, you can use other code hosting services, like https://codesandbox.io/ and others. What is needed is complete information for reproduction, full contents of each involved file, otherwise the info provided cannot be regarded as complete.

[2019-09-03 09:38] 4lph4-Ph4un commented on #28
Gotcha! I'll give you the minimal example. Anyway, I'm a bit worried about my understanding about webpack config-behavior, is that overwriting ok or not? :/

[2019-09-03 09:41] vlasenko commented on #28
@4lph4-Ph4un Overwriting the object that is being exported from several modules: `webpack.config.js` and `webpack.config.test.js` is certainly not okay. The object being exported from `webpack.config.test.js` should be cloned first and than modified, you can use the `webpack-merge` to clone config object for you, for example.

[2019-09-03 10:19] 4lph4-Ph4un commented on #28
Aha! Apparently the update to webpack 4 changed some more of the internals which affected the way the loaders are detected on derived configurations. The statement about forcing to use merge is now more correct than ever! I found this out when I was preparing the minimal example and tried other adjustments, which then made the loaders to work on tests :)

[2019-09-03 10:20] #28 closed

[2019-09-03 16:15] karlwilbur commented on #26
Yes, I would like that. However, making a change to defaults might be jarring to current users. Such changes should be made with caution.

As for "interactive" mode as a thing, I'm not sure what that even means for this tool. I'm still new to `mochapack` and not sure about the feature set yet. How would one "interact" in interactive mode? Why does that necessitate clearing the console history?

Th

[2019-09-03 16:21] vlasenko commented on #26
@karlwilbur My personal preference is to not clear the console by default and have a cli option to clear the console, instead.

[2019-09-04 05:35] karlwilbur commented on #26
@vlasenko Mine too. Should I re-create a fork and take a stab at an implementation? I'll be unable to do anything for a few days but maybe early next week?

Would `--clear-console=true` be reasonable? It can default to `false`.

[2019-09-04 16:22] vlasenko commented on #26
@karlwilbur Sounds reasonable to me, no rush, take your time

[2019-09-06 18:42] andykais commented on #26
I would still argue that the console should clear by default on watch. This is how the typescript compiler behaves for example. (see the [--preserveWatchOutput](https://www.typescriptlang.org/docs/handbook/compiler-options.html) flag in the typescript handbook). I would suggest simply setting a default `--interactive=false` unless mochapack is invoked with `--watch`.

Also just for those curious (

[2019-09-21 01:11] karlwilbur commented on #26
@vlasenko Finally got caught up on things; taking a vacation sure does create a backlog.

I opted to go with `clear-terminal`, since "terminal" is more technically correct.

The tests pass on my PR and I have tested it in my project by running my project's tests.

Having my `package.json` like this:
[code]
...works as I would like (not deleting my terminal history).

This way works as before (clea

[2019-09-21 18:05] #26 closed

[2019-10-06 17:26] JamesMcMahon commented on #14
Implemented in https://github.com/sysgears/mochapack/pull/30/commits/21d880966554a77d9791861cee6c09d12099bc2b.

This can be closed.

[2019-10-06 18:03] JamesMcMahon opened #34 "[Feature] Pass through arguments into Mocha"
- [X] I'd be willing to implement this feature

# Describe the user story

### Why

**As user of mochapack**
**I want be able to use all the [command line features of mocha](https://mochajs.org/#command-line-usage), both currently and as mocha is updated**
**So that I don't have to wait on mochapack to be updated**

### Acceptance Criteria

[code]

# Describe the solution you'd like

While working

[2019-10-06 18:39] #14 closed

[2019-10-07 05:49] vlasenko commented on #34
I agree with this approach in general, we should stop trying to re-implement mocha features, but the question is how to do it :)

[2019-10-14 09:00] 271ch opened #38 "[Bug] importing of vue.js components"
- [ ] I'd be willing to submit the fix

**Describe the bug**

1) If I run the test `npm run test` I get a compilation error. It seams to me that the babel/ES6 is not loaded. I fear that mochapack does not use the webpack configuration :
[code]
2) If I remove the component-file ending `vue` in `/test/MyTest.spec.js` line 18, I get another error because the file is not found. This seams also to lead

[2019-10-14 10:16] vlasenko commented on #38
@271ch
1. You forgot to pass `resolve -> extensions` webpack option, hence Webpack doesn't try to check `.vue` ending by default
2. This seems not a bug of `mochapack`, because adding `options: { prettify: false }` to `vue-loader` rule, "fixes" it. I'm not 100% sure, but it looks like a bug with `prettier` or `vue-loader`

[2019-10-14 10:17] vlasenko commented on #38
@271ch The link to relevant `vue-loader` docs section:
https://github.com/vuejs/vue-loader/blob/master/docs/options.md#prettify

[2019-10-14 13:26] #38 closed

[2019-11-04 20:05] schickm opened #39 "[Bug] Not able to get --watch to work in examples/debug-webpack4 (or my own project)"
- [ x ] I'd be willing to submit the fix (if I knew how to fix it...)

**Describe the bug**

I recently tried to switch over a code-base that was using `mocha-webpack` to use `mochapack`.  I noticed `--watch` stopped working when I made the switch.  In order to double check that the problem wasn't our usage, I cloned the `mochapack` repo and ran the test loop...all tests passed (including the watc

[2019-11-05 16:57] larixer commented on #39
Hm, I have OS X `10.14.6`, btw does `10.14.16` even exist? My node version is 12.12.0, but I had node 10.x as well. I don't observe that test loop not re-runs. It does re-run for me

[2019-11-06 15:19] schickm commented on #39
Sorry about that, `10.14.6`, was correct.  I must have made a typo.

I switched over to use node version 12.12.0, but I still can't get the test loop to re-run.  I'll have some other co-workers double check it on their machines...but so far the problem sounds like it might just be me!

[2019-11-06 15:20] schickm commented on #39
Any tips about how I might go about debugging this issue?  Areas of the code to set breakpoints in?

[2019-11-06 15:33] larixer commented on #39
@schickm Have you tried running `webpack-dev-server` in that folder and making a change to `src/index.js`, does it runs the compilation after your change?

[2019-11-06 15:34] larixer commented on #39
@schickm Or even more relevant test would be to run `webpack --watch` in that folder and change `src/index.js`, will it trigger re-compilation?

[2019-11-06 18:25] schickm commented on #39
@larixer Yep, both `webpack-dev-server` and `webpack --watch` will trigger re-compilation when I change `src/index.js`

The plot thickens...

Thanks for being so responsive 😃

[2019-11-06 18:27] schickm commented on #39
I also ran both commands by calling directly into `./node_modules/.bin/` (which is effectively what `npx` does) and achieved the same results.  Just wanted to call that out as well.

[2019-11-06 18:41] larixer commented on #39
@schickm There is a script called `test:watch:debug` in `xamples/debug-webpack4/package.json`, so you can run `npm test:watch:debug` and then attach the debugger, step in several times until it loads full node modules tree and then place breakpoint here and see if it enters:
https://github.com/sysgears/mochapack/blob/master/src/runner/TestRunner.js#L221

[2019-11-06 18:44] larixer commented on #39
@schickm I wonder where the condition in the `if` right there is truthy for you?
https://github.com/sysgears/mochapack/blob/master/src/runner/TestRunner.js#L223

[2019-11-06 18:59] larixer commented on #39
@schickm I have published `mochapack@1.1.6` with source maps (previously they were not published), it should provide better experience when you try to debug `mochapack` source code

[2019-11-06 21:46] schickm commented on #39
Thanks for publishing that, that was very helpful.

`fileAddedOrDeleted` does get triggered, and `matchesGlob` does evaluate to `true` when I move/add/delete a file.  However, when I modify the contents of an existing file, `fileAddedOrDeleted` does not get triggered.  That seems to be expected since chokidar is being used to only listen for `add` and `unlink` events.

Does `mochapack` rely on `we

[2019-11-06 21:55] schickm commented on #39
I've had two different co-workers try as well, both experienced the same issue I'm having with `--watch`.  Both were using OS X 10.14.6 & Node 12.13.0.  Additionally I was able to repro it on another machine running OSX 10.13.6 (High Sierra) and Node 11.14.0.

Don't know if that helps or not 🤷‍♂

[2019-11-07 05:44] larixer commented on #39
@schickm Looks like some dependencies changed their behaviour. When you opened the ticket, I have checked `examples/debug-webpack4` with `yarn`. I use `yarn` in this repo, all projects has `yarn.lock`. When I first checked the issue didn't reproduce for me, because `examples/debug-webpack4/yarn.lock` pointed to older versions. Then you asked about debugger, I noticed that there are no sourcemaps,

[2019-11-07 05:58] larixer commented on #39
@schickm So yeah, its `chokidar`. When I force usage of `chokidar@2.1.6` via `package.json -> resolutions` yarn option, the problem no longer reproduces. `mochapack` didn't change anything in this regard. The same problem will be present with `mocha-webpack` as well if it will be used with recent `chokidar` version. I'm looking how to fix it so that new `chokidar` worked too...

[2019-11-07 07:49] larixer commented on #39
@schickm This is not really a problem of `mochapack`. It is rather broken concepts in `node_modules` and the behaviour of `chokidar`. Looks like multiple versions of `chokidar` conflict with each another. But `chokidar` authors cannot mark in their `package.json` that `chokidar` must be a singleton in a project. There is a workaround to this, that libraries that use `chokidar` can mark it as a `pe

[2019-11-07 16:36] schickm commented on #39
Fascinating, looks like you were a major version ahead.  I pulled down your updates and indeed everything works as it should!

Sorry to have overlooked the `yarn` thing...I forgot that I could have totally different dependencies since I was running `npm i`.

Thanks again for being so responsive during this whole process.  Now I can transition us from `mocha-webpack` to `mochapack`, and we'll have

[2019-11-07 16:37] schickm commented on #39
I be sure to keep an eye out for the `peerDependencies` change.

[2019-11-07 16:46] larixer commented on #39
@schickm The great idea about fixing `peerDependencies` concept with possibility of responsibility shift to the author is explained here by @arcanis:
https://github.com/yarnpkg/berry/issues/417
Hopefully it will be released in Yarn 2.1 and will help relieve the pains of having singleton packages in JS ecosystem.

[2019-11-07 17:55] #39 closed

[2019-11-09 09:24] xPaw opened #40 "gitbook-plugin-github specified twice in dependencies"
Once in dev, and once in normal.

After upgrading mochapack, we get this warning:
[code]

which leads me to believe it doesn't need to be in `dependencies`.

This commit added it to dependencies: https://github.com/sysgears/mochapack/commit/7d0cbaff91b4f0b91b3e27afb342a92bea567df3 and this one downgraded it: https://github.com/sysgears/mochapack/commit/b9a86aaaf07abcf9c5b75ccdc015042c4a33452f

[2019-11-09 09:36] larixer commented on #40
@xPaw Hm, yes, looks like it was added to dependencies by mistake in this PR: #37

[2019-11-09 09:41] #40 closed

[2019-11-09 10:08] larixer commented on #40
@xPaw Published `mochapack@1.1.9` with the fix

[2019-11-09 10:08] xPaw commented on #40
Thanks!

[2019-11-11 12:46] xPaw commented on #40
The version published to npm does not match what's on github, and thus gitbook dependency is still there: https://app.renovatebot.com/package-diff?name=mochapack&from=1.1.8&to=1.1.9

[2019-11-11 12:55] larixer commented on #40
@xPaw Hmm, looks like this dep is auto-added on publish. Trying to figure out why...

[2019-11-11 13:30] larixer commented on #40
@xPaw Published via yarn `@1.1.11`, looks like it doesn't have this dep. I'm not sure why npm were adding it on publish

[2019-11-16 00:24] visualjeff opened #41 "A better example please [Feature]"
Would it be possible to update the example demonstrating how we can actually test functions loaded from a separate js file via script tag?

Just the basic example... The HTML page imports a script using a script tag.  The mocha test script will test/exercise the functions in the external script (the HTML file loads via the script tag).   The example provided in the source exercises Mocha but doesn

[2019-11-17 07:16] larixer commented on #41
@visualjeff To which example do you refer?

[2019-11-17 17:11] visualjeff commented on #41
Located within the source at examples/debug-webpack4

Thanks for responding.

[2019-11-17 19:38] #41 closed

[2019-11-23 16:04] JamesMcMahon commented on #34
Sorry for the lack of follow up on this. I want to work on this but I haven't had the time to put into it.

[2019-11-23 19:26] larixer commented on #34
@JamesMcMahon No problems, this is open source, we all are volunteers, take your time!

[2019-11-25 06:57] zjxiaohan opened #42 "[Bug] Webpack env vars are passed incorrectly"
- [x] I'd be willing to submit the fix

**Describe the bug**

When running `node bin/_mocha --webpack-config test/integration/cli/fixture/config/config.env.js --webpack-env.test 0.96726147776912 "test/integration/cli/fixture/simple/simple.js"`, the environment variable `test/integration/cli/fixture/config/config.env.js` receives is `{ test: [ '0.96726147776912', '0.96726147776912' ] }` instead of

[2019-11-25 06:59] larixer commented on #42
@zjxiaohan Yep, I think that code is related

[2019-11-25 07:10] zjxiaohan commented on #42
@larixer Thanks for your prompt response. Yeah I didn't look into it closely but it looks like it's going to get the first element of the array and put it into the env. However, when testing by myself, I don't see these lines being run and the `env` passed into the webpack config is wrong.

[2019-11-26 12:44] #42 closed

[2019-11-30 03:47] Jack-Barry opened #44 "[Bug] Promised webpack config is not resolved"
- [x] I'd be willing to submit the fix

**Describe the bug**

A Promised Webpack config is not resolved before `mochapack` uses it.

**To Reproduce**

Set the `--webpack-config` to a Webpack config that returns a Promise.

I have a project set up here: [`electron-playground`](https://github.com/Jack-Barry/electron-playground). Once cloned:

[code]

**Screenshots**

![Screen Shot 2019-11-29 at 21 3

[2019-11-30 06:05] larixer commented on #44
I believe await can be done on this line:
https://github.com/sysgears/mochapack/blob/adcd4ccf7dc1dba6b071166d9dcf61b9e5b5ad42/src/cli/requireWebpackConfig.js#L106
and async await should be propagated the chain of callers of `requireWebpackConfig`

[2019-12-02 22:49] #44 closed

[2019-12-04 20:19] Jack-Barry opened #46 "[Feature] Allow usage of custom Mocha initializer"
- [x] I'd be willing to implement this feature

# User Story

It's a pretty big barrier to entry for testing to get a good environment set up for Electron projects. It would be great to be able to run `electron-mocha` instead of `mocha` for Electron apps that are built using Webpack (specifically `electron-webpack`).

# Proposed Solution

Add a flag such as `--electron` to run `electron-mocha` whe

[2019-12-05 04:31] larixer commented on #46
@Jack-Barry Thanks, its okay with me to merge support for `electron-mocha` if you are willing to implement it.

[2019-12-05 12:40] Jack-Barry commented on #46
@larixer Cool deal, I'll start looking into the specifics on this one

[2019-12-06 16:02] xPaw opened #47 "Upgrade dependencies"
We get following warnings in our project:
[code]

[2019-12-08 14:53] ztalbot2000 opened #48 "Support for webpack.config returning array of configs"
- [ ] I'd be willing to implement this feature
I'd certainly be willing to test it with you on my current project.

**Describe the user story**
This is my first webpack project, but I think I have a good handle on it.  It consists of a web app and a library as well.  The web app will use the library, but it could be used in other projects. I had decided to split the two before I get too far down t

[2019-12-08 16:39] larixer commented on #47
Yeah, it would be great to upgrade these dependencies, though it might be not a very easy journey. Babel 6 -> Babel 7 upgrade is needed, it should be generally straightforward. But I'm not sure that all the latest deps (for example watchpack) can actually use the latest fsevents version. And I'm not also sure if multiple chokidar/fsevents versions can coexist peacefully, I saw at least once the mu

[2019-12-08 18:41] larixer commented on #48
`The solution would be for mochapack to check if the webpack.Configuration returned is an array and then merge the content.` I don't understand this solution. Why webpack configs should be "merged" by mochapack, why not by user, and how they should be merged exactly?

[2019-12-08 20:28] ztalbot2000 commented on #3
Hmm,  I tried the obvious but that did not work.
Warning Passing multiple configs as an Array is not really supported.  Only the first element will be parsed
 WEBPACK  Compiling...

  [=========================] 100% (completed)

 WEBPACK  Failed to compile with 4 error(s)

Error in ./app/XXXXX/XXX.ts

  Module parse failed: Unexpected token (15:10)
  You may need an appropriate loader to handle t

[2019-12-08 20:57] xPaw commented on #47
Have you considered just using native `fs.watch`?

Looking at watchpack, they switched to it in v2 beta releases: https://github.com/webpack/watchpack/commit/805b66502e43be4b1892d2cc0b160e4c53e32e38#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

[2019-12-08 23:02] ztalbot2000 commented on #3
since I joined the config files I could not test it.  my mistake, this quick fix does resolve my issue as a temp fix. ill send you my changes later

[2019-12-08 23:28] JamesMcMahon commented on #46
Kind of parchuting into this one so I hope I am not widly off base. Does calling electron mocha require a different signature the mocha or is it a drop in replacement?

If it's a drop in replacement I wonder if the more generalized solution to allow the user to specify a custom command to invoke?

[2019-12-09 00:32] ztalbot2000 commented on #3
The reason why the patch works by only returning webpack.config.js, Configuration[0] is that webpack compiles the source, handling the multiple array; mochapack is passed the paths to the compiled code and or either array elements can compile the code, just the final bundle is different. so in this case, it works for me and the patch is backward compatible.

cat requireWebpackConfig.js.patch
--- s

[2019-12-09 04:03] Jack-Barry commented on #46
@JamesMcMahon I'm not sure if you got a chance to read [the discussion referenced above](https://github.com/jprichardson/electron-mocha/issues/102) but according to their maintainers it's mostly a drop in replacement.

I haven't had a chance to _really_ dig in, but from what I gathered `mochapack` is building an instance of the `Mocha` class, so if there is an analog class in `electron-mocha` then

[2019-12-09 04:58] JamesMcMahon commented on #46
RE: #34

Making `mochapack` less knowledgeable about `mocha` would probably be a boon. Just spit balling here, but do we need to invoke Mocha via API? Could it be a command line pass through instead. If we did that suddenly #34 and this feature are super easy.

[2019-12-09 06:28] larixer commented on #47
@xPaw Well, `chokidar` also uses native `fs.watch`:
https://github.com/paulmillr/chokidar#how
It just wraps it. And `watchpack` has also non-trivial wrapping code around native `fs.watch`. I am basically okay with either option: native `fs.watch` or library around native `fs.watch`.

[2019-12-09 11:39] xPaw commented on #47
Well, chokidar comes with the baggage of fsevents, which has a native package (and all of its problems)

[2019-12-09 12:28] Jack-Barry commented on #46
That's the part I haven't had a chance to dig into yet - initially that's what I thought it was doing under the hood already but once I saw a little bit of what's going on in [src/runner/TestRunner.js](https://github.com/sysgears/mochapack/blob/master/src/runner/TestRunner.js) it looks like the API is used for good reason, I just haven't been able to figure out exactly what that is. Would have to

[2019-12-09 13:07] larixer commented on #46
@Jack-Barry Don't also forget that `mochapack` compiles files into in-memory fs, which is accessible only to the current Node process. If you launch another Node process, it won't see the compiled files:
https://github.com/sysgears/mochapack/blob/adcd4ccf7dc1dba6b071166d9dcf61b9e5b5ad42/src/webpack/compiler/registerInMemoryCompiler.js#L12

[2019-12-11 17:45] Jack-Barry commented on #46
@larixer I'm not 100% certain but if `mochapack` uses `electron-mocha`'s `run.js` instead of `mocha`'s, it doesn't look like it's spinning up another Node process there, unless that's what Electron does inherently in which case a whole other can of worms just opened 😳 and I just showed my ignorance 🤐

# Investigation Notes

Adding some other notes of what I've been investigating here for reference

[2019-12-12 06:35] larixer commented on #46
@Jack-Barry Yep, makes sense to me. Though maybe boolean `electron` option might be excluded from this list, because user will have to specify  one of other `electron-...` options anyway and this might be used as an indicator that user actually wants to run electron tests.

[2019-12-12 13:03] Jack-Barry commented on #48
I'm curious, forgive me if I'm misreading the scenario - @ztalbot2000 are you describing a situation where you have multiple Webpack configurations and you want to run your test suite against each of them? You could do something like this in `package.json`:

[code]

You could also use something like [`concurrently`](https://github.com/kimmobrunfeldt/concurrently#readme) to speed things up and/or a

[2019-12-12 13:24] ztalbot2000 commented on #48
this is my Webpack-config file.  I had to blur out some names as while this
will be an open-source project (As is all my others) it is not even close
to being unveiled. it will eventually be, but not know.  As I figure thing
out, I comment it to death, but you can see the array.

const path = require('path');
const UglifyJsPlugin = require('uglifyjs-webpack-plugin');

const HtmlWebpackPlugin = req

[2019-12-12 13:29] ztalbot2000 commented on #48
As you mentioned, I can split the two tasks in my package.json script tag,
but as I spent so much time getting it into one, I needed to continue. I'm
sure that if not me, eventually you will be asked anyway. For now, I'll use
my patch.  if I'm ready to publish, I can always separate them. at least
then it would be easy.

ttfn,
John

On Thu, Dec 12, 2019 at 8:24 AM John Talbot <ztalbot2000@gmail.co

[2019-12-12 13:31] Jack-Barry commented on #48
Can you please add the ```js markup tag to your config text to make it a little easier to read? Thanks

[2019-12-12 14:31] ztalbot2000 commented on #48
const path = require('path');

const UglifyJsPlugin = require('uglifyjs-webpack-plugin');

const HtmlWebpackPlugin = require('html-webpack-plugin');

module.exports = (env, argv) =>

{

   Externals = {};

   //if (argv && argv.mode && argv.mode ="production")

   if ( argv && argv.mode && argv.mode == "production" )

   {

      // do production related things here

      // Hmm required for moch

[2019-12-12 14:47] ztalbot2000 commented on #48
I think that one did not build.  ..

On Thu, Dec 12, 2019 at 9:30 AM John Talbot <ztalbot2000@gmail.com> wrote:

[2019-12-12 14:53] ztalbot2000 commented on #48
const path = require('path');

const UglifyJsPlugin = require('uglifyjs-webpack-plugin');

const HtmlWebpackPlugin = require('html-webpack-plugin');

module.exports = (env, argv) =>

{

   Externals = {};

   //if (argv && argv.mode && argv.mode ="production")

   if ( argv && argv.mode && argv.mode == "production" )

   {

      // do production related things here

      // Hmm required for moch

[2019-12-12 14:54] ztalbot2000 commented on #48
Sorry, hard to do sometimes when using iPad to vnc to OSX ...

On Thu, Dec 12, 2019 at 9:53 AM John Talbot <ztalbot2000@gmail.com> wrote:

[2019-12-12 15:48] Jack-Barry commented on #48
@ztalbot2000 Here it is with syntax highlighted and irrelevant details removed. I am deleting your previous comments to keep this thread readable and to prevent an endless scroll.

[code]

I'm still not thoroughly convinced the merging of config should be the responsibility of `mochapack`. There are some pretty lightweight alternatives to accomplishing this. You could have a `production.webpack.co

[2019-12-12 19:53] ztalbot2000 commented on #48
Just to let you know, I have determined that Webpack-devserver only acts on
the first entry, but at least it does not bail.  So there is at least
precedence for handling it this way.

TTFN,
John

On Thu, Dec 12, 2019 at 10:48 AM Jack Alden Barry <notifications@github.com>
wrote:

[2019-12-15 03:19] Jack-Barry commented on #46
After sitting down with a pen and paper, and really thinking into this before writing any specific code for it - I think @JamesMcMahon [was on to something](https://github.com/sysgears/mochapack/issues/46#issuecomment-563009198) before with the concept of something like a custom Mocha initializer to run. I'm calling it `byom` for **B**ring **Y**our **O**wn **M**ocha.

Basically, have a `byom` opti

[2019-12-15 17:07] JamesMcMahon commented on #34
Jack's PR for Mocha, https://github.com/mochajs/mocha/pull/4122 seems like it would be helpful here.

[2019-12-17 14:02] Jack-Barry commented on #46
@larixer and @JamesMcMahon I'm getting into the argument parsing aspect of this, and there's a couple of scenarios I want to get some second/third opinions on.

With the new feature, a user can pass arguments for

1. Mocha
2. Mochapack
3. Their custom Mocha initializer

The problem I'm running up against is how to handle the `files`. For example:

[code]

Is pretty straightforward to assign the op

[2019-12-18 03:42] Jack-Barry commented on #46
Implemented a [new `parseArgv` function](https://github.com/Jack-Barry/mochapack/blob/byom/src/byom/cli/parseArgv.ts) that is passing all tests ✅ Just need to throw the Mocha options into the mix once [that PR](https://github.com/mochajs/mocha/pull/4122) is ready to go.

Basically I'm building it out in a `byom` subfolder until it's all green and production ready.

I think it's a little easier to

[2019-12-18 06:50] larixer commented on #46
@Jack-Barry Thanks! The code looks very clean!

[2019-12-18 22:17] Jack-Barry commented on #46
Mostly sharing to ensure there's no double work done toward #34 or #9. The changes here directly relate to those.

A little more progress forward: split Mocha options into [their own file](https://github.com/Jack-Barry/mochapack/blob/byom/src/byom/cli/mochaOptions.ts) which at the moment has parity with `6.2.2` until it can be replaced with a direct import.

As far as I know, the user's `peerDepen

[2019-12-19 05:52] larixer commented on #46
@Jack-Barry Yep, user's `peerDependency` will be used as at runtime to get `mocha` instance.

[2019-12-29 05:06] jpspringall commented on #46
Hi @Jack-Barry, are you saying you will cover #9 as part of this PR?

I was going to start looking at it, but looks like you are already doing so?

[2019-12-30 00:34] Jack-Barry commented on #46
@jpspringall Yeah, it should be covered here. I've had to focus on some year-end wrap ups at work, but will be jumping back on this in the next week or two

[2020-01-20 09:43] ramonsan opened #52 "[Bug] --recursive is not working properly"
- [ ] I'd be willing to submit the fix

**Describe the bug**
When test are in multiple subdirectories, adding --recursive will not help to reach them, neithe rusing --glob or directly the glob string.

**To Reproduce**
Create a folder stricture like:
[code]
If you run `mochapack components/**/*.spec.js` it returns 2 test passing (component A and B, but no subcomponent test).
If you run `mochapack

[2020-01-20 15:35] Jack-Barry commented on #46
Finally caught up on things, jumping back on this throughout the rest of the month 🔨

[2020-01-21 16:00] Jack-Barry commented on #46
Relevant to #9

Made some solid progress on this here: [buildMochapackOptions/index.ts](https://github.com/Jack-Barry/mochapack/blob/byom/src/byom/cli/buildMochapackOptions/index.ts)

This method uses _Mocha's_ configuration file and opts file parsers, so it can handle any file extension that Mocha supports. Anything in the config file that is _not_ specific to Mochapack gets passed along as part

[2020-01-21 16:35] ramonsan commented on #52
0 test passing issue is not related to recursive. When a subcomponent has a `<style>` tag is not passing any test. If only run test on the spec of that component, its test pass normally.

[2020-02-11 10:52] kierans commented on #9
@jamesopti Finding this issue helped me stop pulling my hair out!

However I'm not having success with a `mocha.opts` with a `--require` flag in it. Where should the `mocha.opts` go in your source tree? What's the best way to `--require` a file from the source tree eg:

[code]

(importing the module in the test file works, but I want to move the require to the `mocha.opts`)

[2020-02-13 02:45] andykais opened #53 "[Bug] useColor deprecation warnings with mocha@7.0"
- [ ] I'd be willing to submit the fix

**Describe the bug**

I am seeing some warnings when running mochapack only visible when using `mocha@7.0.0` and higher. `mocha@6.2.2` and lower do not show it.
[code]

this does not affect test behavior, but I assume these warnings are because an older mocha color scheme is being used.

**To Reproduce**
[code]
and run mochapack on any test

 - OS: [e.g. OSX

[2020-02-21 04:14] Jack-Barry commented on #46
Getting a chance to start looking at this in off-hours again and hoping optimistically to have it tackled in April or May, just making some investigatory notes for now (so I don't forget where I'm at on this when I come back to it 😝).

Looks like a lot of what is going on in `src/cli/requireWebpackConfig.ts` to pull in the config file is handled in Webpack CLI's [`lib/groups/ConfigGroup.js`](https

[2020-02-25 08:04] leegee commented on #3
Lack of this feature is why imma begrudgingly move to Jest..

[2020-02-28 20:04] aparajita commented on #53
That's probably why they declare the mocha peerDependency as ">=4 <=6". Would be great to fix this and dump the peerDependency version to 7.

[2020-04-10 08:16] rfftrifork commented on #34
A possible workaround could be to add a parameter to mochapack `--mochaOpts` and then pass it on to mocha's `--opts`: https://mochajs.org/#-opts-path

That way you should be able to allow your users to utilize the full power of mocha, without having to wrap each parameter. It still feels a bit like a workaround to me, but perhaps it's good enough.

[2020-04-10 08:19] rfftrifork commented on #34
Oh didn't notice :/ that seems to be deprecated :( Perhaps the config file will do the trick: https://mochajs.org/#-config-path

[2020-04-10 23:31] Jack-Barry commented on #34
I think the snag here though is that if a user points to a config file then they still might want to override the configured settings for a one-off run of their test script.

Hopefully I can get something rigged up to get as close to parity with Mocha as possible by end of next week. Since a few of our projects at work are relying on this, I am pretty much going to be focused on it until it's up t

[2020-04-11 15:15] specialistvlad commented on #47
Please update chokidar

[2020-04-13 10:01] #53 closed

[2020-04-13 12:16] jayaddison opened #61 "[Bug] gitbook-plugin-github specified twice in dependencies"
**Describe the bug**

This is a duplicate of a previous issue https://github.com/sysgears/mochapack/issues/40.

it looks like the `gitbook-plugin-github` dependency [appears](https://github.com/sysgears/mochapack/blob/ad601b9deb96445263a7a3cc818ffb61a1a75442/package.json#L92) [twice](https://github.com/sysgears/mochapack/blob/ad601b9deb96445263a7a3cc818ffb61a1a75442/package.json#L114) in `package.

[2020-04-13 13:01] larixer commented on #61
I don't know why, but `npm publish` adds this `gitbook-plugin-github` dependency. Published `mochapack@1.1.15` via `yarn publish`

[2020-04-13 13:01] #61 closed

[2020-04-13 14:09] jayaddison commented on #61
Puzzling.. I took a quick look in the NPM CLI open issues, and wondered if https://github.com/npm/cli/issues/1018 might be related.  Not certain though.  Thanks for the quick fix-up here!

[2020-04-13 16:19] Jack-Barry commented on #34
@larixer and @JamesMcMahon I am tackling this issue this week ✊🏼 Jumping into it, there are a couple of things I wanted to get some second/third opinions on:

# Short Version

1. Should we split the options groups into _Mocha_, _Webpack_, and _Mochapack_ instead of _Basic_, _Output_ and _Advanced_?
2. Should we err on the side of _cleaner architecture and no support for Mocha aliases_ or a _dirtie

[2020-04-13 16:47] larixer commented on #34
@Jack-Barry
1. Probably yes
2. Unsure
3. No apparent reason, lets go constructor way if its simpler and better

Generally, anything that improve compatibility with future Mocha versions and reduce maintenance burden should be positive.

[2020-04-16 22:06] Jack-Barry commented on #34
Followup for previous comment:

1. Went ahead and split it up into `Mochapack`, `Webpack` and left Mocha's groupings up to their parsing rules
2. Found a super easy way to use Mocha's `aliases` and `types` in Yargs so it's a non-issue
3. More on that below 😄

Jumped ship on my previous stab at this (forgot what the hell I was doing on it). However, making some huge progress on this and pretty exci

[2020-04-17 04:50] larixer commented on #34
@Jack-Barry Excellent progress! I like how your approach gives structure to the options parsing and utilizing by different tools. Thanks!

[2020-04-26 16:59] andykais commented on #53
Hey all, I think this may be related to the upgrade. I don't see colors on mocha/chai output anymore:
![screenshot(226)](https://user-images.githubusercontent.com/6627147/80314129-9533f380-87bd-11ea-8245-7f27e96397bf.png)

![screenshot(228)](https://user-images.githubusercontent.com/6627147/80314140-b0066800-87bd-11ea-974e-0bf810dc7f3f.png)

I can create a separate issue if that is appropriate

[2020-04-26 17:37] aparajita commented on #53
@andykais Yes, please make a separate issue.

[2020-04-26 17:56] andykais opened #64 "[Bug] Mocha colors are not visible in v7"
- [ ] I'd be willing to submit the fix

posting as a follow up to #53

**Describe the bug**
colors for mocha tests are not visible from mochapack.

**To Reproduce**
running any test under the current verison of mochapack shows this behavior
[code]

**Screenshots**
this screenshot shows that 1. errors are not highlighted and and 2. mocha test checkmarks are not highlighted.
![screenshot(228)](https

[2020-05-06 17:44] AnthonyElcocks opened #65 "[Bug]"
- [ ] I'd be willing to submit the fix

**Describe the bug**

I have a project using mochapack with file-loader and vue-loader.
Webpack.config has module.rules for file-loader and vue-loader
      {
        test: /\.vue$/,
        use: "vue-loader"
      },
      {
        test: /\.(png|svg|jpg|gif)$/,
        use: {
          loader: "file-loader",
          options: {
            name: "[path][n

[2020-05-06 20:29] larixer commented on #65
@AnthonyElcocks Thanks for the report, we will keep it in mind, though to make it really actionable from our side, we really need a reproduction, some repo, small or not so small which we can clone and see the problem ourselves and then troubleshoot it from there.

[2020-05-06 20:33] Jack-Barry commented on #9
@jamesopti or @kierans can you give this a go with `2.0.0`? If it works and you do not run into the issue opened in #65 then we can mark this as resolved.

Thanks

[2020-05-06 20:54] Jack-Barry commented on #13
@sebastienfilion Can you give this a shot using `2.0.0`? If it works and you don't run into an issue similar to #65 then we can resolve this issue.

Thanks

[2020-05-06 20:55] Jack-Barry commented on #46
Probably won't be able to get around to this for a while, but some notes after completing #63 :

 This will be pretty straightforward. To simplify it, I'm only going to add a flag for `--byom` to point to a `Mocha` constructor function/factory. That function can do the work of determining any settings specific to itself, rather than having to keep track of more CLI options in mochapack. If mochapa

[2020-05-06 20:57] Jack-Barry commented on #34
@JamesMcMahon Would you consider this resolved as per the finalization of #63?

[2020-05-06 21:03] Jack-Barry commented on #20
@sn3p can you try this out with `2.0.0`? The CLI option for `--file` is sent to the `Mocha` instance as part of [`initMocha`](https://github.com/sysgears/mochapack/blob/51cfd136193af3ace4f9f419c319377969c82a73/src/runner/runnerUtils/initMocha/index.ts#L42) now.

[2020-05-07 16:02] Spacexplosion opened #66 "[Bug] WebStorm 2020.1 breaks support for running mochapack tests from the IDE"
- [x] I'd be willing to submit the fix

**Describe the bug**

All mocha test run configurations show an error of "Not found mocha bin file".

**To Reproduce**

I believe it would happen with any mocha test configured to run in WebStorm.

**Screenshots**

![image](https://user-images.githubusercontent.com/1591279/81316808-0c894300-905a-11ea-971a-da6f474cee40.png)

**Environment if relevant (please

[2020-05-11 15:30] dsrini-open opened #67 "v2.0.0 - Config"
Hi,

I am confused as to how to use mochapack v2.0.0. Any doc would be useful on how to pass the config, and what config options are available. Previously, I used mochapack.opts file and provided the same as cli args -

The file contents include
[code]

Now, if I run the same way I get exception - WebpackOptionsValidationError: Invalid configuration object.

Tried with

Now, webpack config is load

[2020-05-11 19:56] Jack-Barry commented on #67
@dsrini-open Do you have a repo that I can clone that reproduces the issue?

Thanks

[2020-05-13 01:06] dsrini-open commented on #67
Please find the test repo [here](https://github.com/dsrini-open/test-mp).

My questions are primarily how do you set config with/for mochapack -
- Where/how you specify the webpack-config file other than cli args.
- How do you pass the mocha config file?

Thanks!

[2020-05-19 16:34] JordanMajd opened #69 "Warning: the engine "pm" appears to be invalid"
- [x] I'd be willing to submit the fix

**Describe the bug**

`yarn install` on a project using `mochapack@2.0.0` produces a warning `warning mochapack@2.0.0: The engine "pm" appears to be invalid.`

**To Reproduce**

[code]

**Environment if relevant (please complete the following information):**

 - OS: OSX (macOS Catalina)
 - Node version v13.12.0
 - Mochapack version  2.0.0
 - Webpack version

[2020-05-22 15:46] Timmmm commented on #48
I believe they fixed that bug - `webpack-dev-server` serves both entries for me.

[2020-05-24 14:15] #66 closed

[2020-05-25 04:32] dsrini-open commented on #69
I remember seeing this issue, forgot exactly what I did - but guess updated yarn/node/npm or added mocha/webpack. - Tried in a new repo - not getting it anymore!

[2020-05-25 04:37] dsrini-open commented on #67
Resolved the issue by passing the following config in **package.json** scripts under test -
`NODE_ENV=test mochapack --config .mocharc.json --webpack-config test/webpack.config.js \"src/**/test/**/*.spec.js\"`

I had to pass the location of mocha config file and webpack config file with the glob to run the tests. Now, the mocha config file contains --require scripts.

[2020-05-25 04:37] #67 closed

[2020-05-25 14:17] Jack-Barry commented on #67
@dsrini-open Thank you for sharing, glad you were able to resolve the issue

Would you be willing to write up some notes for the README about your findings? I will probably not be able to get around to it for a couple of weeks at least

[2020-06-03 02:34] pscheit opened #71 "[Bug] imports do not work with sass-loader and stdin template"
- [ ] I'd be willing to submit the fix

**Describe the bug**

I got the following webpack config for the sass-loader:

[code]
Error in ./node_modules/vuetify/src/components/VCalendar/mixins/calendar-with-events.sass

  Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js):
  ModuleBuildError: Module build failed (from ./node_modules/sass-loader/dist/cjs.js):
  Can't find

[2020-06-04 12:36] indeyets commented on #65
@AnthonyElcocks explicitly specifying path to webpack.config file helped on one of my projects where I had similar issue

[2020-06-19 07:10] gdarai opened #73 "--include does not work when in 'opts' file [Bug]"
- [ ] I'd be willing to submit the fix

**Describe the bug**
I am upgrading our libraries, so I swapped to mochapack and now I have an issue:
We are having global memory clearing method in cleanUpResources.js

[code]
Loading this file using
```  --include ./test/cleanupResources.js ```
also using parameter
``` --opts mochapack.opts ```

[code]
clear and concise description of what the bug is.

whe

[2020-06-22 23:30] pkqxdd opened #74 "[Feature] WebStorm testing framework integration"
- [x] I'd be willing to implement this feature

On WebStorm, one can run tests in a `.spec.ts` file inside the IDE. This provides the advantage of integrating with the existing editor as well as jumping to different parts of the project when some tests inevitably fail.

Currently, WebStorm cannot reliably detect `mochapack` as a `mocha` package because of the lack of `mocha` file in the `bin` fold

[2020-06-22 23:48] pkqxdd commented on #74
Screenshot of a working configuration by using a symlink
<img width="1400" alt="Screen Shot 2020-06-22 at 4 47 37 PM" src="https://user-images.githubusercontent.com/24923261/85345745-28309780-b4a8-11ea-90cd-ef24bec2ecb8.png">

[2020-06-23 06:30] larixer commented on #74
Should be fixed in `mochapack@2.0.1` via #68

[2020-06-23 06:30] #74 closed

[2020-06-23 06:31] larixer commented on #69
Should be fixed in `mochapack@2.0.1`

[2020-06-23 06:31] #69 closed

[2020-06-24 17:11] nicooga commented on #20
The file option is not working property for me, with mochapack 2.0.1. I've used this command:

[code]

The `test/setup.js` file is being evaluated, but global variables set there are not present later. This is the same command I've used with mocha, except that before I used `mocha.opts` file to specify `file: 'test/setup.js'`.

[2020-06-24 20:25] AbleLincoln opened #75 "[Bug] v2.0.1 breaks testing in Nuxt project"
- [ ] I'd be willing to submit the fix

**Describe the bug**

v2.0.1 breaks testing for Nuxt project (with Vuetify). This may be happening with other frameworks/setups, but I discovered this bug with a Nuxt project. Essentially, the tests no longer run. mochapack is able to succesfully compile the project, but it doesn't run any of the tests. It just completes with "0 passing".

I think I have nar

[2020-06-24 20:25] AbleLincoln commented on #75
btw, I am able to fix this problem by locking mochapack at `v2.0.0`

[2020-06-24 20:33] AbleLincoln commented on #75
I'm not sure if this is related, but I also came across [this solution](https://github.com/zinserjan/mocha-webpack/issues/48#issuecomment-472094866) for a similar issue with mocha-wepack. Apparently `optimization.runtimeChunk = "single"` and mocha do not play nicely together.

[2020-06-25 05:21] larixer commented on #75
@AbleLincoln Thanks, I've rolled back PR #70 for now to fix this issue and published `mochapack@2.0.2`

[2020-06-25 05:21] #75 closed

[2020-06-26 09:22] jcjp opened #76 "[Bug] SyntaxError: Unexpected token 'export'"
- [ ] I'd be willing to submit the fix

**Describe the bug**

I have a Nuxt application with a library of @adonisjs/websocket-client, when I compile it with Nuxt it works but when I use to test my application using mochapack it runs into an error of: SyntaxError: Unexpected token 'export' here is the full error:

[code]

**To Reproduce**

1. Create a nuxt app using `npx create-nuxt-app <app-name>`

[2020-06-26 09:26] jcjp commented on #65
I think you need to add this on your rules in `webpack.config.js` or `mochapack.config.js`:
[code]

[2020-07-06 23:44] AbleLincoln commented on #75
Still getting this issue in `v2.0.2`. It looks like the build didn't work for some reason. The published JS files still have broken the code from `2.0.1`.

[2020-07-10 08:48] larixer commented on #75
@AbleLincoln Published `mochapack@2.0.3`, could you check and report back, please?

[2020-07-10 18:19] AbleLincoln commented on #75
Works great! Thank you 🙂

[2020-07-10 18:19] larixer commented on #75
Thank for letting know!

[2020-07-17 15:58] thom-nic commented on #67
I ran into this issue as well.  `--opts` is not handled properly with mocha v7 nor does it pick up the default `.mocharc.js` when running through mochapack.  But passing `--config .mocharc.js --webpack-config ____` got it to work.

[code]

[2020-07-21 18:08] Niush commented on #71
Any progress here? I am facing same problem testing with Vuetify.

[code]
and bunch more **sass** and **scss** build fail errors.

[2020-07-28 10:00] HichamBI opened #78 "[Question/Feature]"
Hello,

First of all, Thanks for the Great job on maintaining this project. It's awesome !

I'm using mochapack in my project and my issue is when I generate a test results report for Sonar - using mocha-sonarqube-reporter - this report is ignored by Sonar because it only reference the generated webpack bundle name and not the effectives tests files.

![image](https://user-images.githubusercontent

[2020-07-29 16:34] lakeshadow0 commented on #9
I am using 2.0.2 and my `.mocharc.yaml` is not being honored in any fashion.

[2020-07-29 16:50] Jack-Barry commented on #9
Have you tried it with the `config` flag pointing to your `.mocharc`?

[2020-07-29 16:52] lakeshadow0 commented on #9
Ah, I see. I just tried it, and got the error `Invalid JSON config file: .mocharc.yaml`. I assume then only JSON configurations are supported.

[2020-07-29 21:27] Jack-Barry commented on #9
There might be something out of whack with [`src/cli/argsParser/optionsFromParsedArgs/mocha/mochaOptionsFromParsedArgs.ts`](https://github.com/sysgears/mochapack/blob/master/src/cli/argsParser/optionsFromParsedArgs/mocha/mochaOptionsFromParsedArgs.ts) or [`src/cli/argsParser/optionsFromParsedArgs/mocha/mergeMochaConfigWithOptions.ts`](https://github.com/sysgears/mochapack/blob/master/src/cli/argsP

[2020-08-20 20:02] panta82 commented on #73
![image](https://user-images.githubusercontent.com/4291324/90819612-7c34ec80-e330-11ea-88f4-82a8389a3033.png)

It seems opts file is only parsed if you specify --opts arg. It no longer loads the file by default.

This behavior is a deal breaker for me. I am using opt-file to point the correct webpack config when I run random tests from my IDE. Without it, I'd have to edit every run configuration m

[2020-08-24 04:14] techmunk commented on #78
Had the same issue when using the mochawesome reporter as well. I wrote a new UI to make this work correctly. It should work with other reporters as well. It uses the BDD interface and fixes filename/line number information. Use at your own risk.

https://gist.github.com/techmunk/7589442964721c10de96df2d75d5ea3c

I'm not sure if there's anything more generic that mochapack could do to add this fea

[2020-08-26 17:02] Jack-Barry commented on #73
Looks like I may have forgotten to include the opts file path [here](https://github.com/sysgears/mochapack/blob/556836c27e8e5e7d49b2feb515ba16c0a7a69620/src/cli/argsParser/optionsFromParsedArgs/mocha/mochaOptionsFromParsedArgs.ts#L137-L140).

Just needs `parsedMochaArgs.opts` added as the third argument as far as I can tell.

@gdarai Would you be able to test this in your project to see if it fixe

[2020-08-26 17:06] panta82 commented on #73
@Jack-Barry The trick is that Webstorm IDE allows me to click a little "play" button next to unit tests and run them immediately in an ad-hoc fashion. And I couldn't figure out how to tell Webstorm to use a particular CLI arg when launching tests that way. So an opts file worked nicely for that.

[2020-08-26 17:32] Jack-Barry commented on #73
@panta82 Would you be able to provide those arguments using a custom run configuration as outlined [here](https://www.jetbrains.com/help/webstorm/creating-and-editing-run-debug-configurations.html)? I haven't used Webstorm but from those docs it looks like you should be able to customize the script triggered by the play button.

[2020-08-26 17:50] panta82 commented on #73
@Jack-Barry Yes, but this is a custom run configuration. You would create these for permanent things you would want to run all the time. Eg. "All tests", "All unit tests", etc.

The problem is when I just want to run an ad-hoc individual test while working on a new code or debugging something. Sure I could click, see it crash, then edit the created run configuration, but that's way more fiddly tha

[2020-09-09 17:04] dhartjes commented on #73
Hello! I'm wondering if the opts section could be removed from the documentation. Thanks for picking this up!

[2020-10-01 09:21] vikashpisces opened #81 "Is there a way to measure execution time of testcases"
**Is there any option in the CLI to pass in order to measure the execution time for testcases**

It is always good to know as how long it took to execute the complete testcases. There is a use case where I dont want to let testcases run for more than some set X unit of time.

**If there is an CLI option lsomething like --exec-time which can provide the execution time will help**

In the console, o

[2020-10-11 15:03] jayaddison opened #82 "[Feature] Webpack v5 compatibility"
- [x] ~~I'd be willing to implement this feature~~ I tried to implement this feature but did not achieve completion; see #83

**Describe the user story**
`webpack` v5.0.0 was [released on 2020-10-10](https://webpack.js.org/blog/2020-10-10-webpack-5-release/) and is likely to see gradual uptake as new projects begin using it and existing projects migrate to it.  As a user of `webpack` v4 and `mocha

[2020-10-15 20:02] willsoto commented on #20
I can confirm that this doesn't seem to be working. The file is evaluated but the hooks inside are never run. I know Mocha v8 isn't officially supported but [Root hooks](https://mochajs.org/#root-hook-plugins) are not running either.

[2020-10-16 13:44] #20 closed

[2020-10-17 13:06] Jack-Barry commented on #20
Thank you @willsoto for the fix on this ✊

[2021-01-14 13:59] ascii-soup commented on #73
@panta82 Forgive me if you are aware of this already, I appreciate this is months later, but you can edit the templates for ad-hoc run configurations in Webstorm - just look for the 'Templates' section in the list below your normal run configurations. Here you can select 'Mocha' for example, and then set the properties you wish to be inherited by _all new run configurations_ created for Mocha insi

[2021-01-21 08:40] lucabecchetti opened #91 "Using watch fail on first refresh"
Hi guys, I have a test with some typescript mixins, if I run test, all works!

  BaseField.vue Component
    ✓ Is in  wrapper element
    ✓ Has slot
    ✓ It contains a valid button-group
    ✓ It contains a valid button-group label
    ✓ It not contains a default required *
    ✓ It contains a default required *
    ✓ Is visible by default
    ✓ Can toggle visibility
    ✓ Is does not show any er

[2021-01-24 20:57] jayaddison commented on #82
As a heads-up to anyone following this issue and keen to see it resolved; it's being worked on in #83, but progress is slow since I don't have much expertise in this codebase and - to be fairly honest about it - it is not yet a blocker or high-priority feature for the project I'm working on, so it tends to fall below other priorities.

Hopefully there'll be a good reason to kickstart further progr

[2021-04-25 21:38] privatenumber commented on #82
I made [instant-mocha](https://github.com/privatenumber/instant-mocha) which has support for Webpack 5.

[2021-04-26 04:42] larixer commented on #82
@privatenumber In my opinion it is not ethical to write "consider switching" on an issue tracker of another project, especially, when you created the project to which you ask to switch 24 hours ago. It's also not ethical to write about the "over-engineered implementation and convoluted code" of the other project in your readme when you have neither feature-parity nor user-base of a similar size se

[2021-04-26 05:00] privatenumber commented on #82
Thanks for calling out @larixer. I must've been too excited to get the word out. I reworded it to be more considerate of the situation.

If instant-mocha doesn't have feature parity, please let me know the specifics and I can look into it. It has unblocked me from upgrading to Webpack 5 and would love to help others make that progress too.

[2021-04-26 06:12] larixer commented on #82
@privatenumber Sounds good, let us see how things will go when more people use your solution

[2021-05-04 17:42] serut commented on #82
I've migrated my app (3K tests) to instant-mocha and it's working so far. It's looks like there is less magic between the test runner and the app, so I rewrited some tests (setTimeout inside my react component was blocking test execution), but otherwise it works quite well upon Webpack 5.

[2021-05-04 18:03] privatenumber commented on #82
Thanks for testing @serut

TBH, I don't think mocha-webpack has any magic to handle special cases. I think what happened was that either mocha-webpack, Webpack 4, or an older version of Mocha (if you upgraded that too) wasn't correctly handling something, and a bug in your tests slipped through the cracks.

instant-mocha surfacing that bug is an improvement IMO 👍

[2021-05-12 12:09] larixer commented on #82
The support has been added by @sodatea and included into `mochapack@2.1.0`, which has just been published

[2021-05-12 12:09] #82 closed

[2021-05-12 15:22] quangkevin commented on #76
This fix doesn't require a PR. Just use babel to transform ES6 to CommonJS. Specifically, configure your setup.js file to do something like this:

require("@babel/register")({
  plugins: ["@babel/plugin-transform-modules-commonjs"],
});

See https://babel.dev/docs/en/babel-register for configuration options.

[2021-05-12 15:36] larixer commented on #76
@quangkevin Do you mean no changes should be done on `mochapack` side and its the matter of Nuxt application configuration instead?

[2021-05-12 15:49] quangkevin commented on #76
Hi @larixer The change should be done outside of mochapack.

[code]
setup.js:
[code]

[2021-05-12 16:06] #76 closed

[2021-05-17 12:05] sebamarynissen opened #99 "[Bug] Webpack 5 warns about absolute paths on Windows"
- [x] I'd be willing to submit the fix

I am using mochapack in a project of mine and recently upgraded to webpack 5. The migration was succesful thanks to the newly released version. Thanks for the great work!

There's one minor issue though that I encountered during the migration. Webpack 5 gives the following warning when running the tests:
[code]

The reason is that webpack fails to recognize

[2021-05-17 12:34] larixer commented on #99
@sebamarynissen Thanks for the bug rreport. Feel free to open a Pull Request, since seems you already found the way how to solve the issue

[2021-05-17 13:23] sebamarynissen commented on #99
@larixer PR created (#100). I had to go with the second option of modifying the `EntryConfig` class because the tests relied on it.

[2021-05-17 13:33] #99 closed

[2021-05-30 14:20] munerf opened #103 "Mocha v 8 support"
I can't use mocha Root Hooks. Is mocha 8 supported?

[2021-05-31 06:17] larixer commented on #103
It is explicitely stated in the documentation, that Mocha 8 is supported

[2021-05-31 06:17] #103 closed

[2021-05-31 06:20] larixer commented on #103
If Root Hooks are not supported, please follow the template and open the bug with full reproduction

[2021-06-03 00:31] Spacexplosion opened #104 "--timeout ignored in mochapack.opts"
Appending --timeout to the CLI args changes default timeout behavior, but putting the same argument in the mochapack.opts file does not.

Versions:
    "mocha": "^7.2.0",
    "mochapack": "^2.1.2",
    "webpack": "^5.38.1",

[2021-06-08 05:22] vinayakkulkarni opened #106 "[Bug] Support for mocha v9"
**Describe the bug**

When I try to install `mochapack`, npm throws error

**Screenshots**

[code]

**Environment if relevant (please complete the following information):**

 - OS: macOS Big Sur
 - Node version 16.3.0
 - Mochapack version 2.1.2
 - Webpack version 4

**Additional context**

Mocha released [v9](https://github.com/mochajs/mocha/releases/tag/v9.0.0) few hours ago.

[2021-06-09 08:37] Lucidiot opened #107 "Vulnerability warning in glob-parent"
- [x] I'd be willing to submit the fix

**Describe the bug**

An NPM vulnerability advisory is shown with glob-parent, a dependency of mochapack. Bumping it to `^5.1.2` or at least `~5.1.0` could remove the warning.

[code]

**To Reproduce**

1. Install `mochapack@2.1.2` as a dependency of any project
2. Run `npm audit`

**Environment if relevant (please complete the following information):**

 -

[2021-06-23 21:44] Spacexplosion commented on #104
Actually, it seems everything in mochapack.opts is ignored. Specifying `--opts mochapack.opts` doesn't help

[2021-08-18 21:27] phillt commented on #71
This seems to still be happening. I've [posted a question in SOF](https://stackoverflow.com/questions/68839434/sasserror-cant-find-stylesheet-to-import-not-from-node-modules-using-mocha) in case anyone wants to check if you're coming from the future.

[2021-08-31 22:24] josephlavin commented on #71
@larixer:  Thank you for your help.

I can not get any of those configurations under the `With CSS-Modules`  to work.  I am now thinking this is a Webpack 4 vs 5 issue.  Mainly that I can not figure out the Webpack 5 equivalent of those configurations.

The `null-loader` does appear to avoid the issue.  However that [that is being depricated](https://webpack.js.org/blog/2020-10-10-webpack-5-releas

[2021-09-01 11:02] larixer commented on #71
@josephlavin

The compilation is not `mochapack` issue at all. This can easily be seen if you update your `webpack.mix.js` and add a line:
[code]
after that comment out the line in your `setup.js`:
[code]
In your example repo, there are two mistakes:
1. The tests are not built for `node` target, the `mochapack` is pretty clear that webpack must be configured to build for `node` target
2. You are r

[2021-09-01 16:37] josephlavin commented on #71
@larixer: Thank you for the detailed explanation.  It appears as if all my troubles were caused by using `--require` instead of `--include`.

In case anyone else encounters a similar issue here are a few more details:

Thank you again!

[2021-10-26 09:55] littlezigy opened #115 "Mocha hooks with mochapack"
I saw this in 'Discussions'. I am having the same problem.

### Discussed in https://github.com/sysgears/mochapack/discussions/113

<div type='discussions-op-text'>

<sup>Originally posted by **sandeep-1983** September 18, 2021</sup>
Hi Everyone,
I am trying to set up mocha hooks using the 'require' option. My project is in Vue js and I am using Vue-CLI which uses mocha pack and but so far I have

[2021-10-26 10:35] #115 closed, assigned to nobody

[2021-11-09 17:43] AnthonyElcocks commented on #104
This still seems to be an issue. Is it on the radar?

[2021-11-10 07:07] kaorukobo commented on #104
It seems there are recent changes that breaks around CLI options parser.

## How to Reproduce

[code]

[2021-11-16 01:57] karlpatrickespiritu commented on #107
+1

[2021-12-01 18:37] johnnyshankman opened #116 "How to Use --parallel from Mocha 8 [Feature]"
- [x] I'd be willing to implement this feature

**Describe the user story**

As a user,
When I have Mocha 8+ installed
And I'd like to parallelize my tests
I expect there to be a CLI flag for that
Because Mocha 8+ has a `--parallel` option

**Describe the solution you'd like**

A `--parallel` flag to invoke the `parallel` option or a clear way to pass commands to the original mocha command.

**Des

[2022-01-16 12:03] GiantVlad commented on #106
@vinayakkulkarni  try to change "mocha": "^8.4.0" in your package.json

[2022-01-17 07:45] ArtemMiller opened #118 "Caching build"
webpack 5 has a file cache.
I wish mochapack would use it.

Now it turns out that the build server spends 160 seconds building, and the tests themselves run 5 seconds.

the next time, he collects everything again and spends + - the same amount of war. When, could collect only changed files

[2022-01-25 11:05] BeeMargarida opened #122 "[Bug] Can't install dependencies of the project"
- [X] I'd be willing to submit the fix, if someone explains to me the need for `.pinyarn.js`

**Describe the bug**

After cloning the project it returns the error below when trying to install with `yarn`. If we install with `npm` but then try `npm test`, the same error happens:

![image](https://user-images.githubusercontent.com/25725586/150965132-c112bd19-101e-4c2e-ae1d-3976a6e3ca86.png)

**To Re

[2022-01-25 11:57] #122 closed

[2022-01-25 11:57] larixer commented on #122
@BeeMargarida Fixed via: #123

[2022-01-25 12:46] larixer commented on #106
Fixed via: #124
Published in `mochapack@2.1.4`
CC: @BeeMargarida @GiantVlad

[2022-01-25 12:46] #106 closed

[2022-02-10 21:03] lingo commented on #91
I get this also.

## First time runs fine, but with warnings:

[code]

## When a file is modified (i.e. the second run) the following appears.

[code]

[2022-02-22 14:05] zak39 opened #127 "[Bug]"
- [ ] I'd be willing to submit the fix

**Describe the bug**

I am working on the [Workspace](https://github.com/arawa/workspace) app, which is an extension for Groupfolders' app for Nextcloud.

I had encounter conflicts with dependencies with NPM and I was able to solve them.
But, when I try to test my app, I have this error message :

[code]

**To Reproduce**

Following this PR : https://github.

[2022-03-03 05:34] jcjp commented on #73
What's the alternative for the `*.opts` file? Just add it on the command itself?

[2022-03-04 05:25] jcjp commented on #104
Yes correct more information is on this bug: https://github.com/sysgears/mochapack/issues/73. I wish that mochapack team would utilize the `.mocharc.js` file or any other alternative for now added all my options on my command.

[2022-03-19 15:57] rbtcollins opened #128 "[Bug] ESM require error importing webpack config"
- [ ] I'd be willing to submit the fix

**Describe the bug**

I have some ES module based code I wanted to test. Mocha works, but the mochapack features sounded nice, so went to try it.

First hurdle was the requirement to set ecma on the terser plugin, as 'npm exec mochapack' was throwing an error from terser.

So I created a webpack config:
[code]

That got past terser, and then it throws in moc

[2022-03-31 13:39] 215699p commented on #118
Adding my 2c.

We use vue-test-utils which uses mochapack under the hood.

In our CI environment, we run our unit tests which involves mochapack compiling our sources before the tests run - we see a similar balance between compile & test times as the comment above.

There's currently no way to cache these compiled sources between runs or even locally.

Ideally, we would like to be able to compile

[2022-04-06 10:18] tragid opened #129 "[Bug] Error with vue3 + vue-cli-plugin-mocha + Yarn Berry (V3)"
### Reproduction link
[github.com](https://github.com/tragid/yarn-vue-mocha-bug)

### Environment info
[code]

### Steps to reproduce
1. Clone project with vue3 and yarn berry. Example https://github.com/tragid/yarn-vue-mocha-bug
2. run yarn install
3. run yarn test:unit

### What is expected?
Tests executed successfully.

### What is actually happening?
Unit tests fail with errors:
[code]

[2022-04-20 03:08] thom-nic opened #130 "[Bug] Please upgrade yargs to resolve ansi-regex CVE"
- [x] I'd be willing to submit the fix

https://github.com/advisories/GHSA-93q8-gq69-wqmw

**Describe the bug**

[code]

yargs@15 or 16 have updated the dependency tree to bump ansi-regex to v5:

[code]

[2022-04-30 14:06] unlight commented on #128
Rename `webpack.config.js` => `webpack.config.cjs`

[2022-04-30 15:01] unlight opened #131 "[Bug] Possible EventEmitter memory leak detected"
**Describe the bug**
(node:15272) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 uncaughtException listeners added to [process]. Use emitter.setMaxListeners() to increase limit
(Use `node --trace-warnings ...` to show where the warning was created)

**To Reproduce**
[code]

**Environment if relevant (please complete the following information):**

 - OS: Windows 10
 - N

[2022-07-22 19:02] cssagogo opened #132 "Mocha 10 Support?"
It looks like the current version of Mocha is 10.0.0.  Any plans to add support for it soon?

[2022-07-26 07:17] ayu14214 opened #133 "Upgrade dependencies"
We get following warnings in our project:
[code]
 dependency tree: `mochapack 2.1.4 -> @babel/runtime-corejs2 7.18.9 -> core-js 2.6.12`

[2022-07-27 08:26] jcjp opened #134 "[Bug] Mochapack always runs into AWS Codebuild Segmentation fault (core dumped)"
- [ ] I'd be willing to submit the fix

**Describe the bug**

Running `mochapack` on our CI using `AWS Codebuild` it randomlys returns an error of: `segmentation fault (core dumped)` and fails the unit test. It feels like a chance of success and fail using `mochapack`.

**To Reproduce**

Unfortunately the code is private property of the organization.

**Screenshots**

<html>
<body>

Running comman